@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Limelight&family=UnifrakturMaguntia&display=swap');
* {
margin:2 0;
padding: 0;
box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    width: 60px;
}
.button:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 5px 15px rgb(2, 10, 18); 
}
 @keyframes flottement {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

h1,h2,h3, p {
    color: aliceblue;
    animation: flottement 3s ease-in-out infinite;
}
.card1{
    width: 300px;
    height: 420px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(31, 26, 26);
    display: flex;
    flex-direction: column;
     background-image: url("cours/dripc.jpg");
    justify-content: flex-end;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(227, 71, 71, 0.2);
    }
body{
    background-image: url("cours/body.png");
    min-height: 100vh;
    display: flex;
    align-items: center;
}
h1 {
  font-size: 2.5em;
  color: #81909f;
  text-align: left;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.card2{
    width: 300px;
    height: 420px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(31, 26, 26);
    display: flex;
    flex-direction: column;
     background-image: url("cours/class1.jpg");
    justify-content: flex-end;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .card3{
    width: 300px;
    height: 420px;
    margin: 10px;
    padding: 15px;
    border-radius:  10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(31, 26, 26);
    display: flex;
    flex-direction: column;
     background-image: url("cours/Cos.jpg");
    justify-content: flex-end;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
h1 {
  font-family: fantasy;
  font-size: 32px;
  font-weight: bold;
  color: #cdcfd0;
  animation: infinite;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@keyframes zoomRotate {
  to {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}
.btn1 {
    border: none;
    border-radius: 6px;
    background: #0bea98;
    color: aliceblue;
    cursor: pointer;
    transition: all 0,3s ease;
    font-weight: 500;
}
.btn1:hover{ 
    background: #81909f;

}
h1 {
  position: relative;
  color: white;
}
h1 {
    font-family:  satisfy;
  font-size: 3em;
  color: #fff;
  position: relative;
}
h1 {
  color: #fff;
  text-shadow: 2px 2px 0 #000,
               4px 4px 0 #333,
               6px 6px 0 #666;
}
body{
    background-image: url("cours/body.png");
  }